<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="./dist/css/app.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous">

    <link rel="icon" href="./dist/img/favicon-barber.png" type="image/png">

    <title>Barber Shop</title>

</head>

<body>

    <div id="app">

        <div class="absolute_button">
            <button class="shadow">
                <i class="fab fa-atlassian"></i>
                <span class="absolute_text">Demos</span>                        
            </button>
            <button class="shadow">
                <i class="fas fa-comments-dollar d-block price"></i>
                <span class="absolute_text">On Sale</span>
            </button>
        </div>
    
        <nav class="navbar navbar-light py-3" :class="{ 'onScroll': !view.topOfPage}">
    
            <div class="container">
    
                <a class="navbar-brand" href="#">
                    <img src="./dist/img/avadabarbers-logo-x2.png" alt="Barber Shop Logo" width="120" height="40">
                </a>
                <div>
                    <i class="fas fa-shopping-cart fs-6 px-3"></i>
                    <i v-on:click="show = true" class="hamburger_menu fas fa-bars fs-6"></i>
                </div>
    
            </div>

            <transition name="fade" appear>

                <div v-if="show" class="drop">
                    <div>
                        <ul>
                            <li>home</li>
                            <li>about Us</li>
                            <li>services</li>
                            <li>shop</li>
                            <li>our Team</li>
                            <li>blog</li>
                            <li>contact us</li>
                        </ul>
                    </div>
                    <i v-on:click="show = false" class="fas fa-times"></i>
                </div>
            
            </transition>
          
        </nav>

        
    
        <!-- Site header -->
        <header class="site_header">
    
            <div class="header_nav">
    
                <!-- Jumbotron Section -->
                <div class="jumbotron">
    
                    <div class="container">
            
                        <div class="row">
                            <div class="title_section col-6 my-auto">
                                <h1 class="">Barber Shop</h1>
                                <hr>
                                <span>The Pinnacle of Male Grooming</span>
                                <button>learn more</button>
                            </div>
                            <div class="col-6 text-end">
                                <img src="./dist/img/avadabarbers_hero_focalmirror.png" width="100%" alt="">
                            </div>
                        </div>
    
                    </div>
    
                </div>
            <!-- end Jumbotron Section -->
    
            </div>
    
        </header>
        <!-- end Site header -->
    
        <!-- Site Main -->
        <main>
    
            <!-- Award section -->
            <section class="awards text-center">
    
                <span class="fw-bolder">AWARD WINNING</span>
    
                <h2>Pro Barbers</h2>
    
                <button class="mt-3">meet your new barber</button>
    
                <div class="divisor"></div>
                
            </section>
            <!-- end Award section -->
    
            <!-- Services section -->
            <section class="services_section text-center bg-white">
    
                <span class="fw-bolder">MENS GROOMING</span>
    
                <h2 class="mb-3">Services</h2>
    
                <div class="container py-5">

                    <div class="row">

                        <!-- use VueJs to cycle services dynamically -->
                        <div v-for="(service, index) in services" class="services_card col">
                            
                            <img :src="'./dist/img/' + service.image_service + '.png'" alt="Trimcut icon">
                            <h4>{{service.name_service}}</h4>
                            <p>
                                {{service.description_service}}
                            </p>
                        </div>

                    </div>

                    <button>read about our service</button>

                </div>
    
                <div class="divisor"></div>
    
            </section>
            <!-- end Services section -->
    
            <!-- Products section -->
            <section class="products_section text-center">
    
                <span class="fw-bolder">WE HAVE YOU COVERED</span>
    
                <h2 class="mb-3">Avada Grooming Products</h2>
    
                <div class="container_big">
    
                    <div class="row my-5">
                        
                        <!-- use VueJs to cycle products dynamically -->
                        <div v-for="(product, index) in products" class="col-3">
                            <img :src="'./dist/img/' + product.image_product" alt="Trimcut icon">
                            <h4>{{product.name_product}}</h4>
                            <span>${{product.price_product}}</span>
                        </div>
        
                    </div>
    
                </div>
    
                <button>shop our product range</button>
    
            </section>
            <!-- end Products section -->
    
            <!-- Month_product -->
            <section class="month_product">
    
                <div class="container">
                    <div class="row">
                        <div class="col-4">
                            <img style="width: 100%; margin-top: 1rem;" src="./dist/img/shaving_butter.png" alt="">
                        </div>
                        <div class="col p-4">
                            <span class="fw-bolder">THIS MONTHS FEATURED PRODUCT</span>
                            <h2 class="mb-3">Shaving Butter</h2>
                            <p class="pt-3">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure quae nam est, veniam quidem, neque rem harum nemo itaque sit optio odit, sunt tenetur cumque? Dolorem praesentium accusamus a ex!
                            </p>
                            <button>Buy now</button>
                        </div>
                    </div>
                </div>
    
            </section>
            <!-- end Month_product -->
    
            <!-- Reviews section -->
            <section class="reviews_section text-center">
    
                <div class="container">
    
                    <span class="fw-bolder">WE HAVE YOU COVERED</span>
                    <h2 class="mb-3">Reviews</h2>
    
                    <div class="row pt-4">
                        
                        <!-- use VueJs to cycle reviews dynamically -->
                        <div v-for="(review, index) in reviews" class="col-4">
                            <p>
                                {{review.review_txt}}
                            </p>
                            <img :src="'./dist/img/avadabarbers-trimcut-gallery' + review.user_image + '.jpg'" alt="">
                            <span class="d-block mt-3 fw-bold">{{review.user_name}}</span>
                        </div>
        
                    </div>
    
                </div>
    
                <div class="divisor"></div>
    
            </section>
            <!-- end Reviews section -->
    
            <!-- Blog section -->
            <section class="blog_section text-center">
    
                <span class="fw-bolder">TALES FROM THE BARBER SHOP</span>
    
                <h2 class="mb-3">Recent Blog Post</h2>
    
                <div class="container">

                    <div class="row py-4">

                        <!-- use VueJs to cycle post dynamically -->
                        <div v-for="(post, index) in posts" class="col-4">
                            <div class="card_blog">
                                <img :src=" './dist/img/avadabarbers-' + post.post_image + '-blog-700x441.jpg'" alt="">
                            </div>
                            <div class="px-3">
                                <h4>{{post.post_name}}</h4>
                                <p>
                                    {{post.post_txt}}
                                </p>
                            </div>
    
                        </div>

                    </div>

                </div>
    
                <button>read more from our blog</button>
    
            </section>
            <!-- end Blog section -->
    
        </main>
        <!-- end Site Main -->
    
        <footer class="site_footer text-center">
    
            <div class="footer_section py-5">
    
                <div class="container">
                    <div class="row">
                        <div class="col-4">
                            <img src="./dist/img/avadabarbers_footer_shop_image-500x390.png" alt="">
                            <button>shop our range now</button>
                        </div>
                        <div class="col-4 center_footer_col">
                            <img style="width: 120px;" src="./dist/img/avadabarbers-logo-x2-300x104.png" alt="">
                            <!-- use VueJs to enter agency data -->
                            <p class="agency"> 
                                <span class="text-white-50">{{agency.name}}</span>
                                <span class="text-white-50">{{agency.street}}</span>
                                <span class="text-white-50">{{agency.city}}</span>
                                <span class="text-white-50">{{agency.eMail}}</span>
                                <span class="text-white-50">{{agency.phone}}</span>
                            </p>
                            <span>FOLLOW US</span>
                            <div class="footer_icons">
                                <i class="fab fa-facebook-f"></i>
                                <i class="fab fa-twitter"></i>
                                <i class="fab fa-youtube"></i>
                                <i class="fab fa-instagram"></i>
                            </div>
                        </div>
                        <div class="col-4">
                            <img src="./dist/img/avadabarbers_footer_appointment_image-500x390.png" alt="">
                            <button>shop our range now</button>
                        </div>
                    </div>
    
                </div>
                
            </div>
            <div class="copy_section text-center text-white-50">
                <p>© Copyright 2012 - 2021 | Avada Theme by <span>ThemeFusion</span> | All Rights Reserved | Powered by <span>Emanuele</span></p>
    
            </div>
    
    
        </footer>

    </div>

    

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="./dist/js/app.js"></script>
</body>

</html>