// Container site
.container{
    width: 60%;
}

.container_big{
    width: 90%;
    margin: auto;
}

// Title end subtitle
h2{
    color: #B1B1B1;
    font-size: 3rem;
    font-family: 'Abril Fatface', cursive;
}

h4{
    color: $primary_color;
    padding-top: 1.2rem;
    font-family: 'Abril Fatface', cursive;
}

// Absolute button
.absolute_button{
    position: fixed;
    right: 0;
    top: 8rem;
    z-index: 999;

    button{
        width: 50px;
        height: 50px;
        display: block;
        border: 1px solid transparent;
        background-color: #ffffff;
        border-radius: 5px;
        line-height: 1rem;
        margin: .2rem .5rem;

        i{
            color: #33475B;
        }

        .price {
            color: #65BC7B;
        }

        .absolute_text{
            font-size: .5rem;
        }
    }
}

.navbar{
    position: fixed;
    z-index: 99999;
    width: 100%;
    transition: all .2s ease-in-out;
    &.onScroll {
        box-shadow: 0 0 10px #1f1f1ff1;
        background-color: #000000ea;
      }

    i{color: whitesmoke;}

    .hamburger_menu{
        color: $primary_color;
    }
}


