header{
    position: sticky;
    width: 100%;

    .jumbotron{
        position: relative;
        background-image: url(/dist/img/avadabarbers-homepage-hero-bg.jpg);
        background-size: cover;
        padding-bottom: 7rem;
        color: #DDDDDD;

        .title_section{

            line-height: 3rem;

            h1{
                font-size: 4rem;
                font-family: 'Abril Fatface', cursive;
                margin-bottom: 1.5rem
            }
    
            span{
                color: #545452;
                font-weight: 300;
            }
    
            hr{
                width: 45%;
                height: 3px;
                color: $primary_color;
                opacity: unset;
            }
    
            button{
                @include site_button;
                margin-top: 1rem;
                line-height: 1rem;
            }

        }

        .absolute_button{
            position: absolute;
            right: 0;
            top: 8rem;

            button{
                width: 50px;
                height: 50px;
                display: block;
                border: 1px solid black;
                background-color: #DDDDDD;
                border-radius: 5px;
                line-height: 1rem;
                margin: .2rem .5rem;

                i{
                    color: #33475B;
                }

                .price {
                    color: #65BC7B;
                }

                .absolute_text{
                    font-size: .5rem;
                }
            }
        }
    
        
    }
}