.awards{

    background-image: url(/dist/img/avadabarbers-about-introbackground.jpg);

    background-size: 60%;

    padding-top: 5rem;

    padding-bottom: 7rem;

    span{
        color: $primary_color;
        font-size: .8rem;
    }

    button{
        @include site_button;
        font-weight: bolder;
    }
}