@mixin site_button {
    color: $primary_color;
    font-weight: bolder;
    border: 2px solid $primary_color;
    font-size: .9rem;
    text-transform: uppercase;
    background-color: unset;
    padding: .7rem 1.7rem;
    &:hover{
        filter: brightness(70%);
    }
}

@mixin site_divisor {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 50vw solid transparent;
    border-right: 50vw solid transparent;
}

@mixin span_style {
    color: $primary_color;
    font-size: .8rem;
}

@mixin arrow_scroll {
    position: absolute;
    font-size: 3rem;
    color: #b1b1b170;
    cursor: pointer;
    &:hover{
        color: $primary_color;
        filter: opacity(50%);
   }
}

